
//
// VARIABLES
//

// Colors
$blue: #3c638b;

// Grays
$black: rgb(224, 199, 199);
$darkerGray: rgb(210, 179, 179);
$darkGray: rgb(119, 114, 127);
$gray: rgb(161, 140, 140);
$lightGray: rgb(21, 12, 17);
$white: rgb(19, 13, 23);


// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}